# Virtual environments
.venv/
workspace/Include/
workspace/Lib/
workspace/Scripts/
workspace/share/
workspace/pyvenv.cfg

# Python
__pycache__/
*.py[cod]

# Local files
.env
db.sqlite3
.DS_Store

.env
**/.env